.trip-length-button {
    position: relative;
}

.trip-tooltip {
    position: absolute;
    left: 60%;
    bottom: 100%;
    margin-bottom: 0px;

    background-color: white;
    color: #333;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 1rem;

    white-space: nowrap;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0s;
    z-index: 1000;
}

.trip-length-button:hover .trip-tooltip {
    visibility: visible;
    opacity: 1;
}

.date-row {
    display: grid;
    grid-template-columns: 100px auto;
    margin-bottom: 2px;
}